<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mamoo</title>
  </head>

  <body>
    <h1 class="pb-4">เลือกหมวดหมู่</h1>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/categories">หมวดหมู่</a></li>
        <li class="breadcrumb-item active" aria-current="page">เลือกหมวดหมู่</li>
      </ol>
    </nav>
    
    
    <!-- สร้างแท็บสำหรับเลือกระหว่าง Temple และ Amulet -->
    <div class="tab">
      <button class="tablinks active" onclick="openCity(event, 'temples')">Temples</button>
      <button class="tablinks" onclick="openCity(event, 'amulets')">Amulets</button>
    </div>
    
    <!-- สร้างคอนเทนต์ที่จะแสดงตามแท็บที่เลือก -->
    <div id="temples" class="tabcontent" style="display: block;">
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if (typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
          <% categoryById.forEach(function(temple, index) { %>
            <% 
            function convertGoogleDriveLink(driveLink) {
                if (!driveLink) {
                    return ''; // ถ้าไม่มีลิงก์ ส่งค่ากลับเป็นสตริงว่าง
                }
                const match = driveLink.match(/[-\w]{25,}/); // ดึง FILE_ID ออกจากลิงก์
                return match ? `https://drive.google.com/thumbnail?id=${match[0]}` : driveLink;
            }
            const convertedLink = convertGoogleDriveLink(temple.ภาพสถานที่);
            %>
            <a href="/temple/<%- temple._id %>" class="saved-place-item d-flex align-items-center">
              <div class="category__img-container">
                <img src="<%= convertedLink %>" alt="<%- temple.สถานที่ %>" class="category__img shadow" loading="lazy">
              </div>
              <div class="saved-place-info">
                <h5><%- temple.สถานที่ %></h5> <!-- ชื่อสถานที่ -->
                <p><strong>หมวดหมู่:</strong> <%- temple.หมวดหมู่ %> </p>
                <p><strong>จุดเด่น:</strong> <%= temple.จุดเด่น %> </p>
              </div>
            </a>
          <% }) %>
        <% } else { %>
          <p>No temples found.</p>
        <% } %>
      </div>
    </div>
    
    <div id="amulets" class="tabcontent" style="display: none;">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <% if (typeof categoryByIdamu !== 'undefined' && categoryByIdamu.length > 0) { %>
            <% categoryByIdamu.forEach(function(amulet, index) { %>
              <% 
              function convertGoogleDriveLink(driveLink) {
                  if (!driveLink) {
                    return ''; // ถ้าไม่มีลิงก์ ส่งค่ากลับเป็นสตริงว่าง
                  }
                  const match = driveLink.match(/[-\w]{25,}/); // ดึง FILE_ID ออกจากลิงก์
                  return match ? `https://drive.google.com/thumbnail?id=${match[0]}` : driveLink;
              }
              const convertedLinkamu = convertGoogleDriveLink(amulet.ภาพ);
              %>
              <a href="/amulet/<%= amulet._id %>" class="saved-place-item d-flex align-items-center">
                <div class="category__img-container">
                  <img src="<%= convertedLinkamu %>" alt="<%= amulet.ชื่อเครื่องราง %>" class="category__img shadow" loading="lazy">
                </div>
                <div class="saved-place-info">
                  <h5><%= amulet.ชื่อเครื่องราง %></h5> <!-- ชื่อสถานที่ -->
                  <p><strong>ประเภท:</strong> <%- amulet.ประเภทเครื่องราง %> </p>
                  <p><strong>ความเชื่อ:</strong> <%- amulet.ความเชื่อ %> </p>
                  <p><strong>วัตถุประสงค์:</strong> <%- amulet.วัตถุประสงค์การใช้งาน %> </p>
                </div>
              </a>
              
            <% }) %>
          <% } else { %>
            <p>No amulets found.</p>
          <% } %>
        </div>
      </div>
      
    
    <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      
      // ซ่อนคอนเทนต์ของทุกแท็บ
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      
      // ลบ active class จากทุกแท็บ
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
    
      // แสดงคอนเทนต์ของแท็บที่คลิก
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>

    <!-- Section: Chatbot -->
    <div class="row" style="margin-top: 2vh;">
      <div class="col-md-12 text-end">
          <a href="/chatbot" class="floating-button">
              <img src="../img/chatbot.png" alt="Chatbot">
          </a>
      </div>
    </div>

    <!-- Back to top -->
    <div class="row" style="margin-bottom: 1vh;">
      <p><a class="btn-container" href="#">↑ Back to top ↑</a></p>
  </body>
</html>