<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mamoo Homepage</title>
  </head>

  <body>
  <!-- สำคัญ -->
  <div class="container">
    <header class="border-bottom lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
      
    
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
          </a>
          <% if (loggedIn) { %>
              <a class="btn btn-sm btn-danger" href="/logout">Logout</a>
          <% } %>

          <% if (!loggedIn) { %>
              <a class="btn btn-sm btn-outline-secondary mx-3" href="/login">Log In</a>
              <a class="btn btn-sm btn-success" href="/register">Register</a>
          <% } %>
          
        </div>
      </div>
    </header>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="col-lg-6 px-0">
          <h1 class="display-4 fst-italic">Home page</h1>
          <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">sawaddee , <%= UserData.email %></a></p>
      </div>
    </div>
  <!-- สำคัญ -->

  <!-- categories -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">

    <div class="col-12 col-lg-6">
      <h1 class="display-4 fst-italic">mee punha arai ka kunpii</h1>
    </div>

  </div>

  <h1 class="pb-4">เลือกหมวดหมู่</h1>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item"><a href="/categories">หมวดหมู่</a></li>
      <li class="breadcrumb-item active" aria-current="page">เลือกหมวดหมู่</li>
    </ol>
  </nav>

  <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <% if(categories != '') { %>
      <% categories.forEach(function(category, index) { %>
        <a href="/categories/<%- category.name %>" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
          </div>
          <div class="pt-1"><%- category.name %></div>
        </a>
      <% }) %>
    <% } %>

      

  </div>
  <!-- categories -->

  <!-- show saved place start -->

  <h1 class="pb-4">Saved Place</h1>

  <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4"></div>

    <% if (savedplaceLimited.length > 0) { %> <!-- เช็คว่า savedplaceLimited มีข้อมูล -->
      <% savedplaceLimited.forEach(function(temple, index) { %> <!-- ลูปผ่าน savedplaceLimited -->
        <a href="/temple/<%- temple._id %>" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="/img/หน้าเปล่า.png" alt="<%- temple.สถานที่ %>" loading="lazy"> <!-- แสดงรูปภาพ -->
          </div>
          <div class="pt-1"><%- temple.สถานที่ %></div> <!-- แสดงชื่อสถานที่ -->
        </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %> 
  </div>

      <a href="/sp" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="/img/หน้าเปล่า.png" alt="View All Saved Place" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
      </a>

    </div>

  <!--  show saved place end -->

  <body>
    <!--Body's Ing-->
    <div class="container">
      <!-- Section: Welcome -->
      <div class="row" style="margin-top: 10vh;">
          <div class="col-md-6">
              <h1 class="display-5 text-dark">Welcome, <%= UserData.email %></a></h1>
              <p>Let's find somewhere to MooTeLoo!</p>
          </div>
      </div>

      <!-- Section: Categories -->
      <div class="row" style="margin-top: 2vh;">
          <div class="col-md-12">
              <h3>Categories</h3>
              <div class="category-container">
                  <div class="category-item">
                      <a href="./categories/love.html">
                          <img src="../img/love.png" alt="Love"  loading="lazy" class="category-btn">
                      </a>
                      <p>Love</p>
                  </div>
                  <div class="category-item">
                      <a href="./categories/money.html">
                          <img src="../img/money.png" alt="Money"  loading="lazy" class="category-btn">
                      </a>
                      <p>Money</p>
                  </div>
                  <div class="category-item">
                      <a href="./categories/health.html">
                          <img src="../img/health.png" alt="Health"  loading="lazy" class="category-btn">
                      </a>
                      <p>Health</p>
                  </div>
                  <div class="category-item">
                      <a href="./categories/work.html">
                          <img src="../img/work.png" alt="Work"  loading="lazy" class="category-btn">
                      </a>
                      <p>Work</p>
                  </div>
                  <div class="category-item">
                    <a href="./categories/travel.html">
                        <img src="../img/travel.png" alt="Travel"  loading="lazy" class="category-btn">
                    </a>
                    <p>Travel</p>
                  </div>
                  <div class="category-item">
                    <a href="./categories/work.html">
                        <img src="../img/study.png" alt="Study"  loading="lazy" class="category-btn">
                    </a>
                    <p>Study</p>
                  </div>
                  <div class="category-item">
                      <a href="./categories/horo.html">
                          <img src="../img/horo.png" alt="Horo"  loading="lazy" class="category-btn">
                      </a>
                      <p>Horo</p>
                  </div>
              </div>
          </div>
      </div>

      <!-- Section: Saved Places -->
      <div class="row" style="margin-top: 2vh;">
        <div class="col-md-12">
          <h3>Saved Places</h3>
          <div class="image-container">
            <% if (savedplaceLimited.length > 0) { %> <!-- เช็คว่า savedplaceLimited มีข้อมูล -->
              <% savedplaceLimited.forEach(function(temple, index) { %> <!-- ลูปผ่าน savedplaceLimited -->
                <a href="/temple/<%- temple._id %>" class="col text-center category__link">
                  <div class="category__img shadow">
                    <img src="/img/หน้าเปล่า.png" alt="<%- temple.สถานที่ %>" loading="lazy"> <!-- แสดงรูปภาพ -->
                  </div>
                  <div class="pt-1"><%- temple.สถานที่ %></div> <!-- แสดงชื่อสถานที่ -->
                </a>
              <% }) %>
            <% } else { %>
              <p>No items found.</p>
            <% } %>
          </div>
        </div>
      </div>

      <!-- Saved Places pt.2 -->
      <div class="row" style="margin-top: 2vh;">
        <div class="col-md-12">
            <h3>Saved Places</h3>
            <div class="image-container">
                <% if (savedplaceLimited.length > 0) { %> <!-- เช็คว่า savedplaceLimited มีข้อมูล -->
                <% savedplaceLimited.forEach(function(temple, index) { %> <!-- ลูปผ่าน savedplaceLimited -->
                  <a href="/temple/<%- temple._id %>" class="col text-center category__link">
                    <div class="category__img shadow">
                      <img src="/img/หน้าเปล่า.png" alt="<%- temple.สถานที่ %>" loading="lazy"> <!-- แสดงรูปภาพ -->
                    </div>
                    <div class="pt-1"><%- temple.สถานที่ %></div> <!-- แสดงชื่อสถานที่ -->
                  </a>
                <% }) %>
                <% } else { %>
                  <p>No items found.</p>
                <% } %>
            </div>
        </div>
      </div>
      <!-- Section: Chatbot -->
      <div class="row" style="margin-top: 20vh;">
          <div class="col-md-12 text-end">
              <a href="/chatbot" class="floating-button">
                  <img src="../img/chatbot.png" alt="Chatbot" style="width: 60px; height: 60px;">
              </a>
          </div>
      </div>
    </div>
  </body>

  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <!-- Log out button -->
    <div class="row">
      <div class="btn-container">
        <% if (loggedIn) { %>
            <a class="custom-btn custom-btn-small" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
    <p class="mb-0">
      <a href="#">Back to top</a>
    </p>
  </footer>
  </body>
</html>

