<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mamoo Homepage</title>
  </head>

  <body>
  <!-- categories -->
<!-- nav bar
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      
      <li class="breadcrumb-item"><a href="/categories">หมวดหมู่</a></li>
      <li class="breadcrumb-item active" aria-current="page">เลือกหมวดหมู่</li>
    </ol>
  </nav>
-->
  <!-- show saved place start -->

  <h1 class="pb-4">Saved Place</h1>

  <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4"></div>

    <% if (savedplaceLimited.length > 0) { %> <!-- เช็คว่า savedplaceLimited มีข้อมูล -->
      <% savedplaceLimited.forEach(function(temple, index) { %> <!-- ลูปผ่าน savedplaceLimited -->
        <a href="/temple/<%- temple._id %>" class="col text-center category__link">
          <div class="category__img shadow">
            <img src="/img/หน้าเปล่า.png" alt="<%- temple.สถานที่ %>" loading="lazy"> <!-- แสดงรูปภาพ -->
          </div>
          <div class="pt-1"><%- temple.สถานที่ %></div> <!-- แสดงชื่อสถานที่ -->
        </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %> 
  </div>

      <a href="/sp" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="/img/หน้าเปล่า.png" alt="View All Saved Place" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
      </a>

    </div>

  <!--  show saved place end -->

  <body>
    <!--Body's Ing-->
    <div class="container">
      <!-- Section: Welcome -->
      <div class="row" style="margin-top: 10vh;">
          <div class="col-md-6">
              <h1 class="display-5 text-dark">Welcome, <%= UserData.email %></a></h1>
              <p>Let's find somewhere to MooTeLoo!</p>
          </div>
      </div>

      <!-- Section: Categories -->
      <div class="row" style="margin-top: 2vh;">
          <div class="col-md-12">
            <h3>Categories</h3>
              <div class="category-container">
                <% categories.forEach(function(category, index) { %>
                  <div class="category-item">
                    <a href="/categories/<%- category.name %>">
                      <img src="/img/<%- category.name %>.png" alt="<%- category.name %>" loading="lazy" class="category-btn">
                      <p><%- category.name %></p>
                    </a>
                  </div>
                <% }) %>
              </div>
          </div> 
      </div>

      <!-- Section: Saved Places -->
      <div class="row" style="margin-top: 2vh;">
        <div class="col-md-12">
          <h3>Saved Places</h3>
          <div class="image-container">
            <% if (savedplaceLimited.length > 0) { %> <!-- เช็คว่า savedplaceLimited มีข้อมูล -->
              <% savedplaceLimited.forEach(function(temple, index) { %> <!-- ลูปผ่าน savedplaceLimited -->
                <a href="/temple/<%- temple._id %>" class="col text-center category__link">
                  <div class="category__img shadow">
                    <img src="/img/หน้าเปล่า.png" alt="<%- temple.สถานที่ %>" loading="lazy"> <!-- แสดงรูปภาพ -->
                  </div>
                  <div class="pt-1"><%- temple.สถานที่ %></div> <!-- แสดงชื่อสถานที่ -->
                </a>
              <% }) %>
            <% } else { %>
              <p>No items found.</p>
            <% } %>
          </div>
        </div>
      </div>

      <!-- Section: Chatbot -->
      <div class="row" style="margin-top: 20vh;">
          <div class="col-md-12 text-end">
              <a href="/chatbot" class="floating-button">
                  <img src="../img/chatbot.png" alt="Chatbot">
              </a>
          </div>
      </div>
    </div>
  </body>

  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <!-- Back to top -->
     <p><a class="btn-container" href="#">↑ Back to top ↑</a></p>

    <!-- Log out button -->
    <div class="row">
      <div class="btn-container">
        <% if (loggedIn) { %>
            <a class="custom-btn custom-btn-small" href="/logout">Log out</a>
        <% } %>
      </div>
    </div>
  </footer>
  
  </body>
</html>

